body {
  background-color: white;

  header {
    box-sizing: border-box;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  #pagewrap {
    box-sizing: border-box;
    width: 1000px;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;

    #user-info {
      background-color: lightgrey;
      box-sizing: border-box;
      margin-right: 0.5%;
      float: left;
      width: 24.5%;
      height: 600px; //Looks like height will eventually be based on content.
      text-align: center;

      #name {
        margin: 0 auto;
      }

      #username {
        font-weight: 300;
        margin: 0 auto;
      }

      #user-details {
        list-style-type: none;
        text-align: left;
        padding: 0;
      }

      #user-account-stats {

        a {
          display: inline-block;
          text-align: center;
          padding: 0;
        }

      }

    }

    #main-info {
      background-color: grey;
      box-sizing: border-box;
      margin-left: 0.5%;
      float: left;
      width: 74.5%;
      height: 1000px; //This too looks like the height will eventually be based on  content.
      text-align: center;

      #top-nav-bar {
        border-bottom: 2px solid black;

        #tab-navs {
          display: inline-block;
          text-align: left;
          box-sizing: border-box;
          width: 70%;
          padding: 0;
          margin: 0 auto;

          a {
            display: inline-block;
            font-weight: 300;
            font-size: 1em;
          }

          a.active {
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
          }

        }

        #right-buttons {
          display: inline-block;
          text-align: right;
          box-sizing: border-box;
          width: 25%;
          padding: 0;
          margin: 0 auto;

          #user-actions {
            display: inline-block;

          }

        }

      }

      #repositories-panel {
        border-bottom: 2px solid black;

        #search-selected-tab {
          display: inline-block;
          box-sizing: border-box;
          width: 65%;
          text-align: left;
          padding: 0;
          margin: 0 auto;
        }

        #filters {
          display: inline-block;
          box-sizing: border-box;
          width: 30%;
          text-align: right;
          padding: 0;
          margin: 0 auto;

          li {
            list-style-type: none;
            display: inline-block;
          }

        }

      }

      #repos {

        background-color: lightgrey;
        box-sizing: border-box;

        #repo-list {
          list-style-type: none;
          text-align: left;
          background-color: darkgray;
          box-sizing: border-box;
          margin: 0.5% auto;
          padding: 0;

          li {
            border-bottom: 2px solid white;
            margin: 0 auto;

            h3 {
              padding-top: 1%;
            }

            .repo-stats {
              display: inline-block;

              .left-side-elem {
                display: inline-block;
              }

            }

          }

        }

      }

      #footer-nav-bar {
        border-top: 2px solid black;

        #footer-navs-left {
          display: inline-block;
          box-sizing: border-box;
          width: 40%;
          padding: 0;
          margin: 0;

          ul {
            list-style-type: none;

            li {
              display: inline-block;
              text-align: left;
              margin: 0 auto;

              a {
                text-align: center;
              }

            }
          }

        }

        a {
          display: inline-block;
          box-sizing: border-box;
          width: 10%;
        }

        #footer-navs-right {
          display: inline-block;
          box-sizing: border-box;
          width: 40%;
          padding: 0;
          margin: 0;

          ul {
            list-style-type: none;

            li {
              display: inline-block;
              text-align: left;
              margin: 0 auto;

              a {
                text-align: center;
              }

            }
          }

        }

      }

    }
  }
}
