body {
  background-color: white;

  header {
    box-sizing: border-box;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  #pagewrap {
    box-sizing: border-box;
    width: 1000px;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;

    #user-info {
      background-color: lightgrey;
      box-sizing: border-box;
      margin-right: 0.5%;
      float: left;
      width: 24.5%;
      height: 600px; //Looks like height will eventually be based on content.
      text-align: center;
    }

    #main-info {
      background-color: grey;
      box-sizing: border-box;
      margin-left: 0.5%;
      float: left;
      width: 74.5%;
      height: 1000px; //This too looks like the height will eventually be based on  content.
      text-align: center;
    }
  }
}
